<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Firefly Fictional Security Corporation</title>
    <script src="/javascripts/main.js" async></script>
</head>
<body id='body'>
    <div id='headBanner' class='banner'>
        <div id='headBannerContent'>
            <br>
            <img id='logoAtTop' src="/public/company-logo.png" alt="Logo">
            <div class='headBannerChoicesMain'>
                    <span class='headBannerChoiceWrap'><a class='headBannerChoiceToClick' onclick='scrollAndOffset("introInfoTextBox", 130)'>About</a></span>
                    <span class='headBannerChoiceWrap'><a class='headBannerChoiceToClick' onclick='scrollAndOffset("#offersDiv", -30)'><%= conceptsOnOffer %></a></span>
                    <span class='headBannerChoiceWrap'><a class='headBannerChoiceToClick' onclick='scrollAndOffset("#contactDiv", 150)'>Contact us</a></span>
                    <span class='headBannerChoiceWrap'><a class='headBannerChoiceToClick' onclick='scrollAndOffset("#mapDiv", 100)'>Find us</a></span>
            </div>
        </div>
    </div>
    <div id='belowHeadBanner'>
        <div id='videoBanner' class='banner'>
            <video id='videoElement' muted autoplay loop>
                <source src='/public/camera-action-coverr-co.mp4' type='video/mp4' />
            </video>
        </div>
        <div id='introInfoOverallDiv'>
            <div class='introInfoBox'>
                <div id='introInfoTextBox'>
                    <h1>Firefly Fictional Security Corporation</h1>
                    <div class='introInfoText'><em>Probably the best security company there could ever be!</em></div>
                    <div class='introInfoText'>
                        <p>Our mission at Firefly Fictional is simple: to provide our clients the best service there could ever be. Simply the best.</p>
                        <p>We can provide each client what they need thanks to thorough analyses of the client's specific needs, meticulous planning, exceptional personnel, and extensive experience.</p>
                        <p><em>Unlike our competitors</em>, we are able to harness the considerable advantages of an entirely fictional existence, making our service far more impressive than anything you will find in the real world.</p>
                    </div>
                </div>            
            </div>
        </div>
        <div id='offersDiv'>
            <div id='offersBanner' class='banner centredContent'>
                <img name='slide' id='imagesDisplay' />
            </div>
            <span id='offersTitle'><%= conceptsOnOffer %></span>
            <div id='offersBoxesDiv'>
                <div class='offersBoxesSubdiv'>

                    <%-
                        include('./partials/mainPage/offerBox.ejs',
                            {offerBoxTitle: 'Executive Protection Services' , offerLink: '/standard-pages/executive-protection-services'})
                    %>

                    <%-
                        include('./partials/mainPage/offerBox.ejs',
                            {offerBoxTitle: 'Security Consultancy Services' , offerLink: '/standard-pages/security-consultancy'})
                    %>

                    <%-
                        include('./partials/mainPage/offerBox.ejs',
                            {offerBoxTitle: 'Security Training Courses' , offerLink: '/standard-pages/security-training-courses'})
                    %>

                </div>

                <div class='offersBoxesSubdiv'>

                    <%-
                        include('./partials/mainPage/offerBox.ejs',
                            {offerBoxTitle: 'Technical Surveillance' , offerLink: '/standard-pages/technical-surveillance'})
                    %>

                    <%-
                        include('./partials/mainPage/offerBox.ejs',
                            {offerBoxTitle: 'Security Management Services' , offerLink: '/standard-pages/security-management-services'})
                    %>

                    <%-
                        include('./partials/mainPage/offerBox.ejs',
                            {offerBoxTitle: 'Private Investigations' , offerLink: '/standard-pages/private-investigations'})
                    %>

                </div>
            </div>
        </div>
        <div id='lowerPart'>
            <div id='contactDiv'>
                <div class='centredContent'>
                    <img id='logoAtContact' src='./public/company-logo.png' alt='Logo'>
                </div>
                <br>
                <div id='contactBtnDiv' class='centredContent'>
                    <button id='contactBtn' type='button' onclick="window.location.href='/contact-form'">Contact us now!</button>
                </div>
                <br>
                <div id='contactTextDiv' class='centredContent'>
                    Firefly Fictional Security Corporation,<br>
                    123 Fakefact Road,<br>
                    Londontown,<br>
                    LT1 2AB,<br>
                    United Kingdom.<br>
                    <br>
                    Tel. 01234 543210, Mon-Sat 8am-8pm<br>
                    <br>
                    Email: enquiries-and-information@firefly-fictional.org
                </div>
            </div>
            <br><br><br><br>
            <div id='mapDiv'>
                <br>
                <div id='iframeDiv' class='centredContent'>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.7835575361864!2d-0.12698878462906957!3d51.4988392796337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c38c8cd1d9%3A0xbc8eaa5de892b081!2sHouse%20of%20Lords!5e0!3m2!1sen!2suk!4v1630420266492!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <br>
            <%- include('./partials/copyright.txt') %>
        </div>
    </div>
</body>
</html>
