<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Executive Protection Services</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js" async></script>
</head>
<body>

    <% const titleArray = 
        <!-- titleArray consists of the page title followed by the divisional titles in order. -->
        ['Executive Protection Services', 'Close Protection', 'Event Security', 'Protective Surveillance']; 
    %>

    <%- include('../partials/headBannerTop.ejs') %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[1]}) %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[2]}) %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[3]}) %>
    <%- include('../partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('../partials/pageTitle.ejs', {pageTitle: titleArray[0]}) %>
        
        <%- include('../partials/introPartialTop.ejs') %>
            <em>
                Keep yourself and your loved ones safe, protected by our polished professionals.
            </em>
            <p>
                High-income and high-risk individuals are often concerned about the security of their person, their famliy and their home.
                At events, at home, or out in the wider world, our range of services can keep you safe whoever you are, and wherever you are.
            </p>
            <p>
                <em>
                    To find out more, scroll down, or click one of the choices above!
                </em>
            </p>
        <%- include('../partials/introPartialBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[1], divImage: '../images/bodyguards-erdogan.jpeg' }) %>
            <em>
                Have our best men by your side, whenever you need.
            </em>
            <p>
                Our close protection specialists are a cut above the rest.
                In superb physical shape, our operatives are fearless experts in armed and unarmed confrontations -
                but they always prefer to use their psychological training to defuse and de-escalate,
                helpfully saving you the trouble of attending a tedious coroner's inquest for your would-be assailants.
            <p>
                Our operatives have had to demonstrate excellent driving skills in special tests that push their defensive and evasive driving skills to the limit -
                an essential skill for the modern close protection expert.
            </p>
                They are also more than qualified to advise you,
                and to help you plan your movements and activities so as to avoid and thwart malicious intents.
            </p>
            <p>
                Highly trained, highly motivated, and higly esteemed, our men are available to keep <strong>you</strong> safe (for money).
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>
  
        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[2], divImage: '../images/event-security.jpeg' }) %>
            <em>
                Feel secure at your gatherings, with a team of our expert personnel.
            </em>
            <p>
                Whether it is a diamond-mining shareholder meeting, your daughter's wedding,
                or a concert performance by the world's most prominent Spanish-language musical performer,
                you need to know your gathering is safe. We make it so. We know how and have never failed.
            </p>
            <p>
                If you already hire security, but need a surge in your event security capabilities, our professionals are also available for commercial public events, of any size or description.
                We provide high quality additional security for all kinds of venues and prominent events.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[3], divImage: '../images/photographer-sun-behind.jpeg' }) %>
            <em>
                For those seeking a less obtrusive way to protect themselves and others.
            </em>
            <p>
                Protective surveillance is a less obtrusive way to protect yourself and those around you.
                If you do not want attention-grabbing high visibilty close protection as you picnic in the park, this is the option for you.
            </p>
            <p>
               Whether tracking you, or tracking those you would track you, we watch, learn, and intervene when needed.
               You have never felt so subtly safe before.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/footSection.ejs') %>

    </div>

</body>

</html>
