<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Investigations</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js" async></script>
</head>
<body>

    <% const titleArray = 
        <!-- titleArray consists of the page title followed by the divisional titles in order. -->
        ['Private Investigations', 'Corporate investigations', 'Personal investigations']; 
    %>

    <%- include('../partials/headBannerTop.ejs') %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[1]}) %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[2] }) %>
    <%- include('../partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('../partials/pageTitle.ejs', { pageTitle: divTitle: titleArray[0] }) %>
        
        <%- include('../partials/introPartialTop.ejs') %>
            <em>
                Let us help you know what you need to know.
            </em>
            <p>
                Whether for your business or your home, our investigators will find out what you need to know.
                With experience, resources, a legal team and a network of contacts, they can be relied upon.
            </p>
            <p>
                <em>
                    To find out more, scroll down, or click one of the choices above!
                </em>
            </p>
        <%- include('../partials/introPartialBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[1], divImage: '../images/bodyguards-erdogan.jpeg' }) %>
            <em>
                Keep your business safe.
            </em>
            <p>
                If you suspect your business rivals are up to no good, we can find out for sure,
                exposing their wrong-doing or -as is happily often the case- setting your mind at ease.
            </p>
            <p>
                From industrial espionage to insider dealing, we have seen it all and exposed it all.
                Our network of contacts includes experts in every field of business and finance.
                No web of deceit is too complex for our tarantulan team.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>
  
        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[2], divImage: '../images/event-security.jpeg' }) %>
            <em>
                Don't let your personal life fall victim to deceit!
            </em>
            <p>
                Many clients feel the need to make sense of personal issues.
                From unexplained disappearances to disappearing artworks, we can get you the information you are looking for.
                Please do not blame us if it leads to divorce.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/footSection.ejs') %>

    </div>

</body>

</html>
