<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Training Courses</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js" async></script>
</head>
<body>

    <% const titleArray = 
        <!-- titleArray consists of the page title followed by the divisional titles in order. -->
        ['Security Training Courses', 'Basic Security Course', 'Event Security Courses', 'Close Protection Courses'];
        const imagePath = '../images/security-training-courses/';
    %>

    <%- include('../partials/headBannerTop.ejs') %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[1] }) %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[2] }) %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[3] }) %>
    <%- include('../partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('../partials/pageTitle.ejs', { pageTitle: titleArray[0] }) %>
        
        <%- include('../partials/introPartialTop.ejs') %>
            <em>
                Develop your security skills to the highest level with our sought-after training courses.
            </em>
            <p>
                Whatever your skills at the start, we can take you to the next level of security professionalism and expertise.
                Whether you are booking for yourself or your employees, our courses multiply the value and desirability of every participant.
            </p>
            <p>
                <em>
                    To find out more, scroll down, or click one of the choices above!
                </em>
            </p>
        <%- include('../partials/introPartialBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[1], divImage: `${imagePath}basic-security.jpg` }) %>
            <em>
                Building firm foundations, this course covers skills every security professional needs.
            </em>
            <p>
                This thorough course covers responsibilities and techniques for a variety of basic roles, including:
                <ul style="list-style-type:none;">
                    <li>✅ Static guard roles</li>
                    <li>✅ Patrol</li>
                    <li>✅ Site security</li>
                    <li>✅ Retail security</li>
                    <li>✅ Professional interaction with clients and the public</li>
                    <li>✅ Legal responsibilities and restrictions</li>
                </ul>
            </p>
            <p>
                Participants leave the course well prepared for the full range of basic security roles.
            </p>
            <p>
                sive hoc difficile est, 
                tamen nec modus est ullus investigandi veri, nisi inveneris, et quaerendi defatigatio turpis est, cum id, quod quaeritur, 
                sit pulcherrimum. etenim si delectamur, cum scribimus, quis est tam invidus, qui ab eo nos abducat?
            </p>
            <p>
                The <strong>Basic Security Course</strong> is one day long.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>
  
        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[2], divImage: `${imagePath}event-security.jpg` }) %>
            <em>
                Feel secure at your gatherings, with a team of our expert personnel.
            </em>
            <p>
                quidam autem non tam id reprehendunt, si remissius agatur, sed tantum studium tamque multam operam ponendam in eo non arbitrantur.
                erunt etiam, et ii quidem eruditi Graecis litteris, contemnentes Latinas, qui se dicant in Graecis legendis operam malle consumere.
                postremo aliquos futuros suspicor, qui me ad alias litteras vocent, genus hoc scribendi, etsi sit elegans, personae tamen et
                dignitatis esse negent.
            </p>
            <p>
                The <strong>Event Security Course</strong> is one-day long,
                while the <strong>Event Security Refresher Course</strong> training is a half-day (four-hour) course.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[3], divImage: `${imagePath}close-protection.jpg` }) %>
            <em>
                Preparing for the most demanding (and best paid roles) in security...
            </em>
            <p>
                This superb course covers everything the finest close protection professional might need:
                <ul>
                    <li>Pyhsical fitness and aptitude</li>
                    <li>Unarmed combat</li>
                    <li>Advanced-level situational analysis</li>
                    <li>Psychology & practice of interaction, persuasion, & de-escalation.</li>
                    <li>Advanced evasive and defensive driving</li>
                    <li>Small arms expertise</li>
                    <li>Planning and advising you clients on their close protection needs</li>
                </ul>
            </p>
            <p>
                The <strong>Close Protection Course</strong> is an intensive and demanding ten-day course,
                while the <strong>Close Protection Refresher Course</strong> is an energetic and rigorous two-day reinvigoration of your aptitudes.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/footSection.ejs') %>

    </div>

</body>

</html>
