<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Management Services</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js" async></script>
</head>
<body>

    <% const titleArray = 
        <!-- titleArray consists of the page title followed by the divisional titles in order. -->
        ['Security Management Services', 'Human Resources', 'Administering security', 'Logisitics of Security'];
    %>

    <%- include('../partials/headBannerTop.ejs') %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[1]}) %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[2]}) %>
        <%- include('../partials/headBannerChoice.ejs', {divTitle: titleArray[3]}) %>
    <%- include('../partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('../partials/pageTitle.ejs', {pageTitle: titleArray[0]}) %>
        
        <%- include('../partials/introPartialTop.ejs') %>
            <em>
                Let us help you manage your security company.
            </em>
            <p>
                If you are looking for services to help you manage your security firm effectively, we can help.
                The non-security side of a security business can be a confusing and daunting obstacle to profitability.
                Luckily for you, we not only run our own security business, we help others to do the same.
            </p>
            <p>
                <em>
                    To find out more, scroll down, or click one of the choices above!
                </em>
            </p>
        <%- include('../partials/introPartialBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[1], divImage: '../images/bodyguards-erdogan.jpeg' }) %>
            <em>
                Find the right people, and manage them right.
            </em>
            <p>
                Security personel, like any employees, need to be well managed.
                We can advise and support you so that you can recruit, develop, pay and motivate your employees,
                whether in your security teams or your wider organisation.
            </p>
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>
  
        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[2], divImage: '../images/event-security.jpeg' }) %>
            <em>
                Get the right team around your front-line staff.
            </em>
            <p>
                Your staff need to be administered. They need to be given contracts, given rotas, paid, and taxed.
                Personnel files must be kept.
                Events and incidents need to be recorded.
                Keep on top of it with our administrative advisors.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[3], divImage: '../images/photographer-sun-behind.jpeg' }) %>
            <em>
                Get the people you rely on the things they need, when they need them.
            </em>
            <p>
                Your team might need resources, uniforms, bodycams, equipment, or vehicles.
                For specialist jobs, they will need more obscure specialist equipment.
                Whatever they need, the supply chain has to provide them, or your firm will not do its job properly.
                Put our security logisiticans on the job.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/footSection.ejs') %>

    </div>

</body>

</html>
