<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Consultancy Services</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js" async></script>
</head>
<body>

    <% const titleArray = 
        <!-- titleArray consists of the page title followed by the divisional titles in order. -->
        ['Security Consultancy Services', 'Standard Consultancy', 'Strategic Consultancy'];
        const imagePath = '../images/security-consultancy/';
    %>

    <%- include('../partials/headBannerTop.ejs') %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[1] }) %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[2] }) %>
    <%- include('../partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('../partials/pageTitle.ejs', {pageTitle: titleArray[0]}) %>
        
        <%- include('../partials/introPartialTop.ejs') %>
            <em>
                Discover how safe your organisation really is, how safe it should be, and how safe it can be.
            </em>
            <p>
                Our expert consultants are able to identify every strength and weakness in your security set-up.
                They can advise in detail on what works, what does not, and how your security can be optimised.
            </p>
            <p>
                <em>
                    To find out more, scroll down, or click one of the choices above!
                </em>
            </p>
        <%- include('../partials/introPartialBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[1], divImage: `${imagePath}standard-consultancy.jpg` }) %>
            <em>
                Our standard service is efficient and effective.
            </em>
            <p>
                With our standard service, experts will be able to quickly ascertain and advise you. You will never have felt so safe!
                From cameras to building layout, from the robustness of your locks to the strength of your windows,
                from employment practices to daily routines,
                We can analyse the terrain, the risks, and the unnecessary efforts. We will advise you how to proceed.
            </p>
            <p>
                This service normally uses one consultant. We advise that you use our standard service for one week for executive individuals or a small-to-medium-sized organisations,
                and for one to two weeks for highest-risk individuals, and, per site, for large institutions.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>
  
        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[2], divImage: `${imagePath}strategic-consultancy.jpg` }) %>
            <em>
                For a detailed strategic review at a deeper level, our <strong>deep strategic consultancy</strong> is your ideal choice.
                in-depth research, analysis and advice is without real-world equal.
            </em>
            <p>
                Carrying out detailed research and analysis of the whole environment and situation,
                with identification of threats and risks at every level,
                our startegic experts have access to our exetensive network of experts,
                information sources not available to the public,
                and the most modern technological and professional resources.
                No stone is left unturned.
            </p>
            <p>
                To get the full and unfettered value of our deep strategic service, we advise you hire a team of two to three conslutants,
                for at least a fortnight in the case of executive individuals or small-to-medium-sized organisations,
                and for at least a fortnight for highest-risk individuals, and, per site, for large institutions.
                If you unsure of your needs, contact us and we can discuss your options.
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/footSection.ejs') %>

    </div>

</body>

</html>
