<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Surveillance</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js" async></script>
</head>
<body>

    <% const titleArray = 
        <!-- titleArray consists of the page title followed by the divisional titles in order. -->
        ['Technical Surveillance', 'Technical Surveillance', 'Technical Counter-surveillance'];
        const imagePath = '../images/technical-surveillance/';
    %>

    <%- include('../partials/headBannerTop.ejs') %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[1] }) %>
        <%- include('../partials/headBannerChoice.ejs', { divTitle: titleArray[2] }) %>
    <%- include('../partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('../partials/pageTitle.ejs', { pageTitle: titleArray[0] }) %>
        
        <%- include('../partials/introPartialTop.ejs') %>
            <em>
                Make sure someone is watching the environment to keep yourself and your interests safe.
            </em>
            <p>
                Surveillance is one if the simplest concepts in security,
                but it can take on a high degree of technical complexity.
                We offer solutions for implementing and maintaining structural surveillance.
            </p>
            <p>
                <em>
                    To find out more, scroll down, or click one of the choices above!
                </em>
            </p>
        <%- include('../partials/introPartialBottom.ejs') %>

        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[1], divImage: `${imagePath}technical-surveillance.jpg` }) %>
            <em>
                A wide range of surveillance possibilities.
            </em>
            <p>
                Your surveillance possibilities are vast,
                and we can advise you on your options.
                Whatever you choose,  we will help you to implement and operate technical surveillance.
            </p>
            <p>
                Common client requests include:
                <ul>
                    <li>Camera networks</li>
                    <li>Personal identification technology</li>
                    <li>Drones</li>
                    <li>Social network analysis</li>
                </ul>
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>
  
        <%- include('../partials/informationBoxTop.ejs', { divTitle: titleArray[2], divImage: `${imagePath}technical-counter-surveillance.jpg` }) %>
            <em>
                Make sure that surveillance does not put you in danger.
            </em>
            <p>
                While your surveillance possibilities are vast,
                more so are the possibilities of unscrupulous opponents and criminal elements.
                As for surveillance, so for counter-surveillance, we are able to advise you on all the options.
            </p>
            <p>
                Common client requests include:
                <ul>
                    <li>Alarm systems and access control</li>
                    <li>Electromagnetic shielding from eavesdropping</li>
                    <li>Mobile phone security and countermeasures</li>
                    <li>Computer and information security</li>
                </ul>
            </p>
        <%- include('../partials/informationBoxBottom.ejs') %>

        <%- include('../partials/footSection.ejs') %>

    </div>

</body>

</html>
